<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>


<h2>ttstockrepair</h2>

<p align="left"><a href=addBills ><button class=grey style="height:80px;width:150px">Dodaj raport sprzedaży</button></a></p>

<p align="left"><a href=sm ><button class=grey style="height:60px;width:130px">Stan magazynu</button></a></p>

<p align="left"><a href=pz ><button class=grey style="height:60px;width:130px">PZ</button></a></p>

<p align="left"><a href=rw ><button class=grey style="height:60px;width:130px">RW</button></a></p>

<p align="left"><a href=zw ><button class=grey style="height:60px;width:130px">ZW</button></a></p>

<p align="left"><a href=zd ><button class=grey style="height:60px;width:130px">ZD</button></a></p>

<p align="left"><a href=assortment ><button class=grey style="height:60px;width:130px">Asortyment</button></a></p>

<p align="left"><a href=sets ><button class=grey style="height:60px;width:130px">Komplety</button></a></p>

<p align="left"><a href=inventory ><button class=grey style="height:60px;width:130px">Inwentaryzacja</button></a></p>



</body>
</html>





